# Postgresql db container configuration
POSTGRES_DB=find
POSTGRES_USER=dinum
POSTGRES_PASSWORD=pass

# App database configuration
DB_HOST=postgresql
DB_NAME=find
DB_USER=dinum
DB_PASSWORD=pass
DB_PORT=5432
