security:
  enabled: true
  existingSecret: opensearch
  tls:
    restEncryption: true
dashboards:
  enabled: true
  ingress:
    enabled: true
    tls: true
    selfSigned: true
    hostname: find-dashboard.127.0.0.1.nip.io
