{% extends "admin/index.html" %}

{% block sidebar %}
{{ block.super }}

<div id="content-main">
    <div class="module" style="margin-top: 20px;">
        <table>
            <caption>
                System Tools
            </caption>
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="{% url 'admin:selftest' %}">System Self-Tests</a>
                    </th>
                    <td>Run selftest checks</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
